// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab:300,400,700);

// Font Variables
$heading-font: 'Roboto Condensed', sans-serif;
$bodycopy-font: 'Roboto Slab', serif;

$primary-color: #333;

h1, h2 {
	font-family: $heading-font;
}

p {
	font-family: $bodycopy-font;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.5;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
	color: #fff;
}

#wrapper {
	width: 100%;
}


#bg { 
  background: url(../images/workspace_big.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#top-row {
	height: 100%;
}

#header-content {
	padding: 2em 0em 0em 2em;
	height: 25%;
	min-height: 100px;
}

#introduction-content {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	height: 75%;
}

#middle-row {
	background: #F57C00;
	color: #fff;
}

#bottom-row {
	background: #FF9800;
}

.bold {
	font-weight: 400;
}

.splash-icon {
	font-size: 140%;
}

.content {
	clear: both;
	max-width: 960px;
	margin: 0 auto;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col:not([class*='unresponsive']) {  margin: 1% 0 1% 0%; }
	.span_1_of_4:not([class*='unresponsive']),
	.span_2_of_4:not([class*='unresponsive']),
	.span_3_of_4:not([class*='unresponsive']),
	.span_4_of_4:not([class*='unresponsive']),
	{ width: 100%; }
}